.menu {
    width: 90%;
    margin: auto;
    border: black solid 1px;
    text-align: center;
}
div > h3 {
    background-color: rgb(112, 148, 136);
    border: black solid 1px;
    margin: -1px;
    cursor: pointer;
}